

.header-layout div{
    gap: 4px;
}

.header-layout div{
    text-align: center;
    color: var(--lumo-contrast-50pct); /*#cd5c5c;*/ /* #428bff;*/
    font-weight: 200;
    padding: 0 0 20px 0;
    margin: 0;
}


.header-layout h1{
    text-align: center;
    color: var(--lumo-contrast-70pct); /*#cd5c5c;*/ /* #428bff;*/
    font-weight: 900;
    padding: 40px 0 0 0;
    margin: 0;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #9fafd5;*/
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    background: var(--lumo-contrast-30pct);
    display: inline-block;
    color: var(--lumo-tint-70pct); /*#fff;*/
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
    /*:hover{*/
    /*    cursor: pointer;*/
    /*    background-color: #9fafd5;*/
    /*    color: var(--lumo-contrast-80pct);*/
    /*}*/
}

.panels {
    background: var(--lumo-contrast-5pct);
    /*box-shadow: 0 2rem 2rem #00000080;*/
    min-height: 200px;
    width: 100%;
    max-width: 1380px;
    border-radius: 12px;
    overflow: hidden;
    padding: 20px;
}

.panel {
    display: none;
    animation: fadein .8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.panel-title {
    font-size: 1.5em;
    font-weight: bold
}

.radio {
    display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel {
    display: block
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab {
    background: #fffffff6;
    color: var(--lumo-contrast-80pct);
    border-top: 3px solid var(--lumo-contrast-70pct);
}
