
.home-view h1 {
    text-align: center;
    color: var(--lumo-contrast-70pct); /*#cd5c5c;*/ /* #428bff;*/
    font-weight: 300;
    padding: 40px 0 20px 0;
    margin: 0;
}

.home-view h3{
    font-family:  Times-New-Roman, serif;
}

.home-view .actions-toolbar{
    gap: 1rem;
}

.home-view .actions-toolbar vaadin-button{
    /*padding-top: 1rem;*/
    /*padding-bottom: 1rem;*/
    padding-left: 17px;
    padding-right: 17px;

    text-decoration: none;
    color: var(--lumo-tertiary-text-color);
    background-color: var(--lumo-contrast-5pct);;
    /*border: var(--lumo-contrast-5pct) 1px solid;*/
    border-radius: 6px;
    transition: 0.5s;
    &:hover {

        color:   #cd5c5c; /*#a62f03; /*#cd5c5c;*/
        background-color: var(--lumo-contrast-10pct);
        /*border: var(--lumo-contrast-20pct) 1px solid;*/
        transition: 0.4s;
        cursor: pointer;
    }
}

.home-view .carousel{
    max-width: 920px;
    height: auto;
    box-shadow: 1px 1px 6px lightgrey;
}

.home-view .uploaded-lines{
    box-shadow: 1px 1px 6px lightgrey;
}
