
header {
  background-color: #fff;
  color: var(--lumo-secondary-text-color);
 /* background-color: #84b4b1;*/
  /*color: #fff;*/
  text-align: center;
  padding: 30px 0 120px;
}
header h1 {
  text-align: center;
  text-transform: lowercase;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding: 40px 0 25px;
  font-family:  "Lucida Console", "Lucida Sans Typewriter", sans-serif;
}
header span {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 20px;
  line-height: 1;
}
header p {
  padding-top: 30px;
}

.home-view h1 {
    margin: 0;
    padding: 40px 0 25px;
    font-family:  "Lucida Console", "Lucida Sans Typewriter", sans-serif;
}

.home-view h3{
    font-family: 'Open Sans', sans-serif; /* "Times-New-Roman", serif; /* "'Brush Script MT', cursive";*/
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    /*text-shadow: var(--lumo-contrast-20pct);*/
    letter-spacing: 2px;
    font-size: 14pt;
    /*text-decoration-color: var(--lumo-contrast-20pct);*/
    /*text-decoration-style: dotted;*/
    /*text-decoration-line: underline;*/
    /*text-decoration-thickness: 30%;*/
    color: var(--lumo-secondary-text-color);
}


.home-view h4 {
    font-family: "Times-New-Roman", serif; /* "'Brush Script MT', cursive";*/
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 12pt;
    /*text-decoration-color: var(--lumo-contrast-20pct);*/
    /*text-decoration-style: dotted;*/
    /*text-decoration-line: underline;*/
    /*text-decoration-thickness: 30%;*/
    color: var(--lumo-secondary-text-color);
}

.home-view .actions-toolbar{
    gap: 1rem;
}

.home-view .actions-toolbar vaadin-button{
    /*padding-top: 1rem;*/
    /*padding-bottom: 1rem;*/
    padding-left: 17px;
    padding-right: 17px;

    text-decoration: none;
    color: var(--lumo-tertiary-text-color);
    background-color: var(--lumo-contrast-5pct);;
    /*border: var(--lumo-contrast-5pct) 1px solid;*/
    border-radius: 6px;
    transition: 0.5s;
    &:hover {

        color:   #cd5c5c; /*#a62f03; /*#cd5c5c;*/
        background-color: var(--lumo-contrast-10pct);
        /*border: var(--lumo-contrast-20pct) 1px solid;*/
        transition: 0.4s;
        cursor: pointer;
    }
}

.home-view .carousel{
    max-width: 920px;
    height: auto;
    box-shadow: 1px 1px 6px lightgrey;
}

.home-view .learning-photo-genres {
    max-width: 1090px;
    display: grid;
    /*align-items: start;*/
    /*justify-content: center;*/
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); /*minmax(min(70px, 8vw), 1fr)); /*repeat(auto-fit, minmax(80px, 1fr));*/
    grid-gap: 17px;
    padding: 5px;
    /*padding-bottom: 5px;*/
    /*padding-left: 1px;*/
    /*padding-right: 4px;*/
    margin: 0;

    h3 {
        font-size: 17px;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 14px;
        text-decoration: none;
        /*font-size: var(--lumo-font-size-m);*/
        letter-spacing: 2px;
        text-align: center;
        font-family: Times-New-Roman, serif;
        /*font-weight: bold;*/
        color: #466ca8; /* #6c9494;*/
    }

    div {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-decoration: none;
        /*font-size: var(--lumo-font-size-s);*/
        letter-spacing: 1px;
        text-align: justify;
        font-family: Roboto, serif;
        /*font-weight: normal;*/
        color: #666666; /* #6c9494;*/
    }

    a {
        color: #666666; /* #466ca8; /* #6c9494;*/

        min-height: 125px;
        background-color: #e6ecf0;
        border-radius: 4px;
        border: 1px solid #c7d8f1;
        padding: 28px 24px;
        margin: 12px;
        text-decoration: none;
        overflow: hidden;
        display: block;
        position: relative;
        box-shadow: 1px 1px 6px lightgrey;
        transition: 0.5s;

        &:hover {
            color: #466ca8; /* #6c9494;*/
            background-color: #f2f8f9; /*#edf7f5;*/
            border: #466ca8 1px solid; /* #6c9494;*/
            box-shadow: 2px 2px 10px lightgrey;
            transition: 0.4s;
            cursor: pointer;
        }
    }
}


.home-view .container-uploaded-lines{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(510px, 1fr)); /*minmax(min(70px, 8vw), 1fr)); /*repeat(auto-fit, minmax(80px, 1fr));*/
    grid-gap: 8px;
    padding: 0;
    margin: 0;
}

.home-view .uploaded-line{
        text-decoration: none;
        overflow: hidden;
        /*display: block;*/
        position: relative;
        border-radius: 12px;
    box-shadow: 1px 1px 5px lightgrey;
    min-width: 455px;
}
