
.image-gallery-view .header-view-type vaadin-tabs{
    gap: 6px;
}

.image-gallery-view .header-view-type vaadin-tab{
        /*color: var(--lumo-tertiary-text-color);*/
        /*border-radius: 5px;*/
        /*border-top-left-radius: 5px;*/
        /*border-top-right-radius: 5px;*/
        font-size: 12px;
        border: transparent 2px solid;
        /*margin-left: 4px;*/
        /*margin-right: 4px;*/

        transition: 0.5s;
        &:hover{
            color: indianred;
            background-color: #f4eee1;
            border: #f4eee1 2px solid;
            transition: 0.4s;
            cursor: pointer;
        }
}

.image-gallery-view .header-view-type vaadin-tab[selected]{
    border: #f4eee1 2px solid;
    border-bottom: indianred 2px solid;
    &:hover{
        color: indianred;
        background-color: #f4eee1;
        border: indianred 2px solid;
        transition: 0.2s;
        cursor: pointer;
    }

}


.image-gallery-view .header-view-type vaadin-tab > vaadin-icon{
    size: 22px;
    /*font-size: 14px;*/
    &:hover{
        color: indianred;
        background-color: #f4eee1;
        transition: 0.7s;
        cursor: pointer;
    }
}

.image-gallery-view .gallery{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(510px, 1fr)); /*  repeat(auto-fit, minmax(410px, 1fr)); */
    grid-gap: 2.4rem;
    padding: 0;
    margin: 8px;

}


.image-gallery-view .gallery-view-card .image-and-info-panel{
    /*border-top-left-radius: var(--lumo-border-radius-l);
    border-top-right-radius: var(--lumo-border-radius-l);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;*/

    border-radius: var(--lumo-border-radius-m);

    text-decoration: none;

    /*box-shadow: 2px 2px 5px lightgrey;*/
    background-color: #f3f3f3;
    box-shadow: 1px 1px 4px lightgrey;
}

.image-gallery-view .gallery-view-card .image-and-info-panel a{
    text-decoration: none;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--lumo-contrast-50pct); /*#2D2C29;*/
    background-color: var(--lumo-contrast-5pct);
    border: transparent 1px solid;
    border-radius: 6px;
    transition: 0.5s;
    &:hover {
        text-decoration: none;
        color: var(--lumo-contrast-80pct);
        background-color: var(--lumo-contrast-10pct);
        border: transparent 1px solid;
        transition: 0.4s;
        cursor: pointer;
    }
}

.image-gallery-view .gallery-view-card .actions-toolbar vaadin-menu-bar{

}

.image-gallery-view .gallery-view-card .actions-toolbar vaadin-menu-bar-button{
    /*padding-top: 1rem;*/
    /*padding-bottom: 1rem;*/
    padding-left: 24px;
    padding-right: 24px;

    text-decoration: none;
    color: var(--lumo-tertiary-text-color);
    background-color: var(--lumo-contrast-5pct);
    /*border: var(--lumo-contrast-5pct) 1px solid;*/
    border-radius: 6px;
    transition: 0.5s;
    &:hover {

        color: var(--lumo-header-text-color); /*#a62f03; /*#cd5c5c;*/
        background-color: var(--lumo-contrast-10pct);
        /*border: var(--lumo-contrast-20pct) 1px solid;*/
        transition: 0.4s;
        cursor: pointer;
    }
}

.image-gallery-view .album-list{
    max-width: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr)); /* (380px, 720px)  minmax(180px, 1fr));*/
    grid-gap: 1.5rem;
    margin: 8px;
}

.image-gallery-view .album-info-card{

    border-radius: var(--lumo-border-radius-m);
    padding: 0;
    margin: 0;
    gap: 3px;
    text-decoration: none;
    box-shadow: 2px 2px 8px lightgrey;
    background-color: #c7d8f1; /* #f4eee1;*/

    border: transparent 2px solid;
    transition: 0.2s;

    &:hover {
        text-decoration: none;
        background-color: #d9e5f7; /* #f4eee1;*/
        /*box-shadow: 1px 1px 6px lightgrey;*/
        border: #78868f 2px solid;
        box-shadow: 2px 2px 11px lightgrey;
        transition: 0.2s;
        cursor: pointer;
    }

    h4 {
        font-family: Times-New-Roman, serif;
        color: var(--lumo-secondary-text-color);

        &:hover {
            text-decoration: none;
            transition: 0.4s;
        }
    }

    a {
        color: var(--lumo-secondary-text-color);
        &:hover {
            transition: 0.4s;
            text-decoration: none;
            cursor: pointer;
        }
    }
}


.member-small {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--lumo-border-radius-l);
    border-bottom-right-radius: var(--lumo-border-radius-l);
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--lumo-contrast-70pct); /*#2D2C29;*/
    /*background-color: var(--lumo-contrast-5pct);*/
    border: transparent 1px solid;
    cursor: default;
    transition: 0.5s;

    &:hover {
        color: var(--lumo-contrast-80pct);
        background-color: var(--lumo-contrast-5pct);
        border: var(--lumo-contrast-5pct) 1px solid;
        transition: 0.4s;
        cursor: default;
    }
}
