
.learnings-view .post-title-bar {
    background-color: #f9f9f9; /*#d8cebe; /*#e6ecf0; /*#edf7f5;*/
}

.learnings-view .post-title-bar h3{
        text-transform: capitalize;
        text-decoration: none;
        text-align: center;
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; /* "Courier New", Courier, serif;*/
        font-weight: bold;

        letter-spacing: 1px;
        font-size: 12pt;
        color: var(--lumo-secondary-text-color);
}

.learnings-view .video-container-small {
    position: relative;
    overflow: hidden;
    /*width: fit-content;*/
    width: 426px;  /*426 x 240 pixels (240p)      640 x 360 pixels (360p)               854 x 480 pixels (480p)   */
    height: 240px;
    margin: 0;
    padding: 10px;
    border: none;
    /*padding-top: 56.25%;  !*16:9 (9/16 = 0.5625)*!*/
    border-radius: var(--lumo-border-radius-l);

    box-shadow: var(--lumo-box-shadow-m);
}

.learnings-view .video-container-normal {
    position: relative;
    overflow: hidden;
    /*width: fit-content;*/
    width: 854px;  /*426 x 240 pixels (240p)      640 x 360 pixels (360p)               854 x 480 pixels (480p)   */
    height: 480px;
    margin: 0;
    padding: 16px;
    border: none;
    /*padding-top: 56.25%;  !*16:9 (9/16 = 0.5625)*!*/
    border-radius: var(--lumo-border-radius-l);

    box-shadow: var(--lumo-box-shadow-l);
}

.learnings-view .btn-more{
    text-decoration: none;
    font-weight: bold;
    color: #466ca8; /* #6c9494;*/
    background-color: #d9e5f7; /*#edf7f5;*/
    border: #c7d8f1 2px solid;
    margin: 1px;
    padding: 11px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 5px;
    transition: 0.3s;
    &:hover{
        cursor: pointer;
        color: #f7f9fb;
        background-color: #466ca8;
        border: #466ca8 2px solid;
        transition: 0.4s;
    }
}

.learnings-view .video-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--lumo-border-radius-l);
    padding: 0;
    margin: 0;
    border: none;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.learnings-view .item-total {
    /*border-top-left-radius: 12px;*/
    /*border-top-right-radius: 2px;*/

    /*border-bottom-left-radius: 10px;*/
    /*border-bottom-right-radius: 45px;*/

    background-color: #f3f3f3;
    box-shadow: 1px 1px 4px lightgrey;
    border-radius: 24px;
    /*border-bottom: var(--lumo-contrast-20pct) dotted 4px;*/
    /*transition: 0.7s;*/
    /*&:hover{*/
    /*    !*box-shadow: 1px 1px 6px lightgrey;*!*/
    /*    transition: 0.8s;*/
    /*}*/
}

.learnings-view .item-id-info {
    background: #f9f9f9;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*gap: 0.4rem;*/
    /*padding: 14px;*/
    /*margin: 0px;*/
    border-radius: var(--lumo-border-radius-m);
}

.learnings-view .item-id-info a{
        text-decoration: none;
        text-align: center;
        padding: 4px;
        margin: 0px;
        color: var(--lumo-contrast-50pct); /*#2D2C29;*/
        background-color: var(--lumo-contrast-5pct);
        border: transparent 1px solid;
        border-radius: 6px;
        transition: 0.5s;

        &:hover {
            color: var(--lumo-contrast-80pct);
            background-color: var(--lumo-contrast-10pct);
            border: transparent 1px solid;
            transition: 0.4s;
            cursor: pointer;
        }
}



.learnings-view .item-id-info h4{
        font-family: 'Raleway', sans-serif;
        color: #868686;
        font-weight: 600;
        font-size: 13px;
        border-bottom: none;
        letter-spacing: 2px;
        padding: 4px;
        margin: 0;
}

.learnings-view .item-id-info h5{

                                  font-family: 'Raleway', sans-serif;
                                  text-transform: uppercase;
                                  font-size: 13px;
                                  letter-spacing: 2px;
                                  font-weight: 500;
                                  color: white;
      border-radius: 4px;
      background-color: var(--lumo-secondary-text-color); /* #868686;*/
      white-space: nowrap;
      border-bottom: 1px solid transparent;
      padding: 4px;
      margin: 0;
}


.learnings-view .item-id-info .external-links {
        padding: 1px;
        margin: 1px;
        /*gap: 5px;*/
        /*padding-bottom: var(--lumo-space-xs);*/
        /*align-items: center;*/
        /*justify-items: center;*/
}

.learnings-view .item-id-info .external-links a{
            padding: 4px;
            margin: 0px;
            border-radius: 6px;
            color: var(--lumo-tertiary-text-color);
            border: transparent 1px solid;
            text-decoration: none;
            &:hover {
                /*background: inherit;*/
                background-color: transparent;
                border: var(--lumo-contrast-5pct) 1px solid;
                color: var(--lumo-header-text-color); /*#9fafd5; */
            }
}


.learnings-view .aggregate-detail{
    gap: 1rem;
    background: #f9f9f9;
    padding: 10px;
    margin: 0;
    border: none;
    border-radius: var(--lumo-border-radius-m);
}


.learnings-view .item-description {
    background: #f9f9f9;
    border-radius: var(--lumo-border-radius-m);
}


.learnings-view .actions{
    gap: 16px;
}

.learnings-view .actions-mobile{
    gap: 8px;
}

.learnings-view .actions vaadin-button{
/*    padding-left: 17px;
    padding-right: 17px;
    color: var(--lumo-primary-color);
    background-color: var(--lumo-contrast-5pct);;
    border: var(--lumo-contrast-5pct) 1px solid;
    border-radius: 5px;
    transition: 0.4s;*/


        text-decoration: none;
        font-weight: bold;
    color: #466ca8; /* var(--lumo-contrast-80pct);*/
    background-color: var(--lumo-contrast-5pct);
    border: transparent 2px solid;
        margin: 1px;
        padding: 11px;
        padding-left: 16px;
        padding-right: 16px;
            border-radius: 5px;
        transition: 0.3s;
        &:hover{
            cursor: pointer;
            color: #466ca8; /* #6c9494;*/
            background-color: #d9e5f7; /*#edf7f5;*/
            border: #c7d8f1 2px solid;
            transition: 0.4s;
        }

}
/*
.actions vaadin-button:hover{
    color: #c1121f; *//* #a62f03; *//*#cd5c5c;*//*
    background-color: var(--lumo-contrast-5pct);
    border: var(--lumo-contrast-20pct) 1px solid;
    transition: 0.4s;
    cursor: pointer;
}*/

.learnings-view .actions-mobile vaadin-button{
    /*padding-top: 1rem;*/
    /*padding-bottom: 1rem;*/
    padding-left: 7px;
    padding-right: 7px;
    /*color: #80a7bf;*/
    /*background-color: var(--lumo-contrast-5pct);*/
    /*transition: 0.8s;*/
}