

.stories-view{

    padding: 4px;
}

.stories-view .story-list-card{
    color: #868686;
    border-radius: 8px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    position: relative;
    background: transparent;
    max-width: 780px;
    margin: 30px auto;
    box-shadow: 0px 0px 30px 2px var(--lumo-shade-10pct);
    img{
        border-radius: 10px;
    }
    vaadin-button{
        cursor: pointer;
        padding: 20px;
        font-weight: 700;
        color:  #466ca8;
        &:hover{
            background-color: #e3ebf7;
        }
    }
}


.stories-view .story-list-card h3{
          font-family:  "Lucida Console", "Lucida Sans Typewriter", sans-serif;
          color: var(--lumo-secondary-text-color);
          /*color: #4c4c4c;*/
          font-weight: 700;
          border-bottom: 1px solid #d8d8d8;
          text-align: center;
          letter-spacing: 2px;
          padding: 4px;
          margin: 0px, 10px;
}

.stories-view .story-list-card h4{
        font-family: 'Raleway', sans-serif;
        color: #868686;
        font-weight: 600;
        font-size: 13px;
        border-bottom: none;
        /*  text-align: center;*/
        letter-spacing: 2px;
        padding: 4px;
        margin: 0;
}

.stories-view .story-list-card h5{

                                  font-family: 'Raleway', sans-serif;
                                  text-transform: uppercase;
                                  font-size: 13px;
                                  letter-spacing: 2px;
                                  font-weight: 500;
                                  color: white;
      border-radius: 4px;
      background-color: var(--lumo-secondary-text-color); /* #868686;*/
      white-space: nowrap;
      border-bottom: 1px solid transparent;
      padding: 4px;
      margin: 0;
}


.stories-view .story-list-card .summary{
        background-color: transparent; /*#f7fafc;*/
/*                                  font-family: 'Raleway', sans-serif;
                                  font-size: 13px;*/
                                  letter-spacing: 1px;
                                  font-weight: 600;
                                  color: #868686;
}


.stories-view .story-list-card .summary span{
        background-color: transparent; /*#f7fafc;*/
                                  font-family: 'Raleway', sans-serif;
                                  font-size: 12px;
                                  letter-spacing: 1px;
                                  font-weight: 500;
                                  color: #868686;
}


.stories-view .story-view-card {

    object-fit: cover;

    margin: 0 auto;
    border-radius: 6px;
    background-color: whitesmoke;
    text-decoration: none;

    .image-container {
        width: 100%;
        height: auto;
        /*max-height: 680px;*/
        text-align: center;
        line-height: 680px;
    }
    img {
        border-radius: 10px;
        object-fit: cover;
        width: 100%; /*!important;*/
        height: 100%;/* !important;*/
        vertical-align: center; /* !important;*/
        horizontal-align: center; /* !important;*/
    }
}


.stories-view .story-card .actions-toolbar{
    gap: 15px;

        text-decoration: none;
        padding-left: 17px;
        padding-right: 17px;
        color: var(--lumo-primary-color);
        background-color: var(--lumo-contrast-5pct);;
        border: var(--lumo-contrast-5pct) 1px solid;
        border-radius: 5px;
        transition: 0.4s;

    &:hover {
    color: #c1121f; /* #a62f03; /*#cd5c5c;*/
    background-color: var(--lumo-contrast-5pct);
    border: var(--lumo-contrast-20pct) 1px solid;
    transition: 0.4s;
    cursor: pointer;
    }
}

.stories-view .story-item-panel{
    max-width: 1000px;
    border-radius: 20px;
    padding: 10px;
    margin: 0;
}

.stories-view .story-item-panel .item-title{
    h4{
        font-size: 14pt;
    }
}

.stories-view .story-item-panel .video-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    padding: 0;
    margin: 0;
    border: none;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.stories-view .story-item-panel .video-container {
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 854px;  /*426 x 240 pixels (240p)      640 x 360 pixels (360p)               854 x 480 pixels (480p)   */
    height: 480px;
    margin: 0;
    padding: 14px;
    border: none;
    border-radius: 18px;
    box-shadow: 2px 2px 9px grey;
}

.stories-view .story-item-panel .video-item{
    border: none;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stories-view .story-item-panel .video-descr{
    color: var(--lumo-contrast-60pct);
    text-align: justify;
    font-size: 11pt;
    padding: 14px;
    margin: 0;
    line-height: 1.9;
    /*text-indent: 60px;*/
    color: var(--lumo-contrast-70pct);
    background: #fff;
    border-radius: 14px;
    white-space: pre-wrap;
    /*  word-spacing: 2px;*/

}

.stories-view .story-item-panel .tip-item{
    color: var(--lumo-contrast-80pct);
    /* background: var(--lumo-contrast-5pct);*/
    font-size: 12px;
    border-radius: 5px;
    /* padding: 7px;*/
    margin: 0;

    background: #fde096; /*  #FBC02D;*/
    /*color: #222222;*/
    /* box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);*/

    padding: 24px;
    padding-top: 10px;
    padding-left: 58px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
    position: relative;
    overflow: hidden;
    h4{
        font-size: 15px;
        font-weight: bold;
        color: #F9A825;
    }
}

.stories-view .story-item-panel .tip-item:before{
    font-family: Georgia, serif;
    content: "“";
    position: absolute;
    top: 1px;
    left: 10px;
    font-size: 8em;
    font-weight: normal;
    color: #fbc642;
}

.stories-view .story-item-panel .tip-item:after{
    font-family: Georgia, serif;
    content: "”";
    position: absolute;
    bottom: -100px;
    line-height: 100px;
    right: -32px;
    font-size: 25em;
    color: #fbc642;
    font-weight: normal;
}

.stories-view .story-item-panel .header-item{
    font-style: oblique;
    text-align: left;
    font-weight: 400;
    color: var(--lumo-contrast-70pct);
    font-size: 14px;
    background: #fff;

    padding: 28px;
    padding-top: 14px;
    padding-left: 68px;
    padding-bottom: 34px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin: 0;
    h4{
        color: var(--lumo-contrast-80pct);
    }
}

.stories-view .story-item-panel .header-item:before {
    font-family: Georgia, serif;
    content: "“";
    position: absolute;
    top: 1px;
    left: 10px;
    font-size: 8em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
    overflow: hidden;
}

.stories-view .story-item-panel .header-item:after {
    font-family: Georgia, serif;
    content: "”";
    position: absolute;
    bottom: -100px;
    line-height: 100px;
    right: -9px;
    font-size: 25em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
}

.stories-view .story-item-panel .footer-item{
    border: 2px #4b7eb8 dashed;
    font-style: italic;
    color: var(--lumo-contrast-70pct);
    background: #fff;
    font-size: 14px;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 14px;
    padding-bottom: 34px;
    margin: 0;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
    position: relative;
    border-radius: 6px;
    overflow: hidden;

    h4{
        color: #4b7eb8;
    }
}

.stories-view .story-item-panel .footer-item:before {
    font-family: Georgia, serif;
    content: "[";
    position: absolute;
    top: -17px;
    left: 9px;
    font-size: 8em;
    color: rgba(173, 197, 225, 0.7);
    font-weight: normal;
}

.stories-view .story-item-panel .footer-item:after {
    font-family: Georgia, serif;
    content: "]";
    position: absolute;
    top: -17px;
    right: 6px;
    /*line-height: 100px;*/
    font-size: 8em;
    color: rgba(173, 197, 225, 0.7);
    font-weight: normal;

}
.stories-view .story-item-panel .text-item-top{

    width: 100%;
    /*border: 2px dotted var(--lumo-contrast-20pct);*/
    border-radius: 20px;


    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    padding-top: 17px;
    margin: 0;
}



.stories-view .story-item-panel .text-item{
    text-align: center;
    color: var(--lumo-shade-70pct);
    font-size: 14px;
    padding: 7px;
    margin: 0;
    h4{
        text-align: center;
        color: var(--lumo-shade-80pct);
        padding: 5px;
    }
}

.stories-view .story-item-panel .photo-item{
    border: 2px dotted var(--lumo-shade-20pct);
    border-radius: 20px;
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    .tall{
        overflow: hidden;
        width: 700px;
        height: 700px;



        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wide{
        /* max-height: 640px;*/

    }
}

.stories-view .story-item-panel .photo-text-item{
    color: var(--lumo-shade-40pct);
    text-align: center;
    font-size: 10pt;
    padding: 4px;
    margin: 0;
}

.stories-view .story-item-panel .photo-and-info{
    position: relative;

    background-color: transparent; /* #c7d8f1; /* #f4eee1;*/
    text-decoration: none;


    img{

        max-width: 100%;
        max-height: 100%;

        object-fit: contain;
        display: block;
        border-radius: 15px;

        width: 100%;
        height: auto;
        object-position: center;

    }
/*    &:hover {
        !*box-shadow:
            0 14px 28px rgba(0,0,0,0.12),
            0 10px 10px rgba(0,0,0,0.08);
            *!

        .figcaption{

            opacity: 1;
            color: white;
            h3{
                color: white;
            }
            div{
                color: #f2f1f0; !* #ededec;*!
            }

        }
    }*/
}

.stories-view .story-management{

        align-items: center;
        width: 100%;
    h4{
        color: var(--lumo-shade-70pct);
        padding: 10px;
        text-align: center;
        border-radius: 8px;
        background-color: white;
    }

    vaadin-button {
            border-radius: 8px;
            padding: 16px;
            padding-left: 20px;
            padding-right: 20px;

            color: #51459f; /* #466ca8;*/
            font-weight: 600;
            transition: ease-out 0.45s;
            box-shadow: inset 0 0 0 0 #efebfa;

            &:hover {
                cursor: pointer;
                box-shadow: inset 0 -100px 0 0 #efebfa;
            }

            &:active {
                scale: 0.95;
            }

            > vaadin-icon {
                color: #51459f; /* #466ca8;*/
            }
        }
}
