/*vaadin-scroller[slot="drawer"] {*/
/*    padding: var(--lumo-space-s);*/
/*}*/

/*vaadin-side-nav-item vaadin-icon {*/
/*    padding: 0;*/
/*    !*color: #b7830b;*!*/
/*}*/


/*[slot="drawer"]:is(header, footer) {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: var(--lumo-space-s);*/
/*    padding: var(--lumo-space-s) var(--lumo-space-m);*/
/*    min-height: var(--lumo-size-xl);*/
/*    box-sizing: border-box;*/

/*    font-weight: bold;*/
/*}*/

/*[slot="drawer"]:is(header, footer):is(:empty) {*/
/*    display: none;*/
/*}*/

vaadin-app-layout::part(navbar) {
    /*background-color: darkseagreen; !* #8ca775; !*var(--lumo-shade-20pct);*!*/
    /*opacity: 0.3;*/
    background: linear-gradient(transparent, #f2f1f0); /* var(--lumo-contrast-10pct)); /*#81ac91*/
    padding: 0px;
    margin: 0px;
}

nav a{     /* :any-link */
    color: #d7efe8; /*darkslategray;*/
    font-weight: bold;
    text-decoration: none;
    padding: 7px 2px ; /*0 var(--lumo-space-s);*/
    border-radius: 4px; /*var(--lumo-border-radius-m);*/
    outline: 0;
    border: transparent 1px solid;
}

nav a:hover{
    color: var(--lumo-contrast-70pct);  /*var(--lumo-secondary-text-color); /*#cd5c5c; /* #a62f03; !*#cd5c5c;*/
    background-color: var(--lumo-contrast-10pct);
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
    vaadin-icon{
        color: var(--lumo-contrast-70pct);
    }
}

/*nav a:active {*/
/*    background-color: var(--lumo-tint-20pct);*/
/*    color: darkorange;*/
/*}*/

nav a:focus-visible {
    box-shadow: 0 0 0 2px var(--lumo-primary-color); /*--lumo-primary-color-50pct*/
}


nav a[highlight] vaadin-icon {
    color: darkred; /* #cd5c5c; /*var(--lumo-contrast-50pct);*/
}

nav a[highlight] {
    font-weight: bolder;
    color: var(--lumo-contrast-70pct); /*darkslategray;*/
    background-color: var(--lumo-contrast-10pct);
}

.lazy-poll-container{
    color: var(--lumo-secondary-text-color); /*#626d7c;*/
    justify-content: center;
    align-items: center;
    text-align: center;

    display: flex;
    flex-flow: row wrap;

    row-gap: 9px;
    column-gap: 9px;
    padding: 2px;
}

.lazy-poll-graph
{
    font-size: 14px;
    color: var(--lumo-tertiary-text-color);  /*#626d7c;*/

    margin: 2px;
    padding: 7px;

    border-style: solid;
    border-color: #ecf0f5;
    border-width: 2px;
    border-radius: 10px;
}

.lazy-tab-panel{
    width: 100%;

    background-color: #f9f9f9; /*#f9f9f9;*/
    border-radius: 14px;
    border-color: #e7ebef;
    border-style: solid;
    border-width: 1px;

    align-items: center;
    justify-content: center; /*evenly*/
}

.lazy-tab{
    width: 100%;
    padding: 10px;
    margin: 0px;
    border: #f9f9f9 1px solid;
    border-radius: 5px;
    /*background-color: #f9f9f9;*/
    transition: 0.2s;
}

.lazy-tab:hover{
    cursor: pointer;
    background-color: #e7ebef; /* var(--lumo-contrast-10pct);*/
    border: #e7ebef 1px solid;
    transition: 0.2s;
}

/*.left-menu vaadin-side-nav-item[focused]{*/
/*    color: #c1121f; !* #ffb231;*!*/
/*    background-color: var(--lumo-contrast-5pct);*/
/*    border: #c1121f 3px solid;*/
/*    border-radius: 5px;*/
/*    font-weight: bold;*/
/*}*/

/*.left-menu vaadin-side-nav-item::part(link){*/
/*    color: var(--lumo-primary-color);*/
/*    background-color: transparent;*/
/*    border: transparent 1px solid;*/
/*    border-radius: 5px;*/
/*    transition: 0.5s;*/
/*            [current] {*/
/*    color: #c1121f; !* #ffb231;*!*/
/*    background-color: var(--lumo-contrast-5pct);*/
/*    border: var(--lumo-contrast-20pct) 1px solid;*/
/*    border-radius: 5px;*/
/*    font-weight: bold;*/
/*            }*/
/*}*/

/*.left-menu vaadin-side-nav-item::part(link):hover{*/
/*    color: #c1121f; !* #a62f03; !*#cd5c5c;*!*/
/*    background-color: var(--lumo-contrast-5pct);*/
/*    border: var(--lumo-contrast-10pct) 1px solid;*/
/*    transition: 0.4s;*/
/*    cursor: pointer;*/
/*}*/

/*.left-menu vaadin-side-nav-item[current] {*/
/*    color: #c1121f; !*color: #ffb231;*!*/
/*    background-color: var(--lumo-contrast-5pct);*/
/*    border: var(--lumo-contrast-20pct) 1px solid; !*var(--lumo-contrast-20pct)*!*/
/*    border-radius: 5px;*/
/*    font-weight: bold;*/
/*}*/
/*.left-menu a{*/
/*    color: darkslategray; !*var(--lumo-header-text-color);;*!*/
/*    !*background-color: var(--lumo-contrast-10pct);*!*/
/*}*/

/*.left-menu a:hover{*/
/*    color: darkorange;*/
/*    background-color: darkslategray;*/
/*}*/

/*.header-bar{*/
/*    background-color: #f4f4f3;*/
/*}*/

/*.header-bar .logo-icon{*/
/*    color: #cd5c5c;*/
/*}*/

/*.header-bar .actions{*/
/*    gap: 8px;*/
/*}*/

/*.header-bar .actions vaadin-button {*/
/*    padding-left: 7px;*/
/*    padding-right: 7px;*/
/*    margin: 2px;*/
/*    color: var(--lumo-primary-color);*/
/*    background-color: transparent;*/
/*    border: transparent 1px solid;*/
/*    border-radius: 5px;*/
/*    transition: 0.5s;*/
/*}*/

/*.header-bar .actions vaadin-button:hover {*/
/*    color: #c1121f; !* #a62f03; !*#cd5c5c;*!*/
/*    background-color: var(--lumo-contrast-5pct);*/
/*    border: var(--lumo-contrast-10pct) 1px solid;*/
/*    transition: 0.4s;*/
/*    cursor: pointer;*/

/*}*/


/*.header-bar .userMenuHeader {*/
/*    background: var(--lumo-contrast-5pct);*/
/*    padding: var(--lumo-space-s);*/
/*    padding-inline-end: var(--lumo-space-l);*/
/*    margin: 2px;*/
/*    align-items: center;*/
/*    gap: var(--lumo-space-s);*/
/*    line-height: var(--lumo-line-height-s);*/

/*}*/

/*.userMenuLinks {*/
/*    padding-bottom: var(--lumo-space-xs);*/
/*    align-items: stretch;*/

/*    & a {*/
/*        padding: var(--lumo-space-xs) var(--lumo-space-m);*/
/*        color: var(--lumo-body-text-color);*/
/*        text-decoration: none;*/

/*        &:hover {*/
/*            background: var(--lumo-contrast-5pct);*/
/*        }*/
/*    }*/
/*}*/


/*.footer div{*/
/*    font-family: "Times New Roman", Times, serif;*/
/*    background-color: #dcd9d5;*/
/*    color: #4d4d4d;*/
/*}*/

